
  .blog {
    background-image: url(~./imgs/light/blog.png);
  }
  :global(body.dark-theme) {
    .blog {
      background-image: url(~./imgs/dark/blog.png);
    }
  }
  
  .customer-server {
    background-image: url(~./imgs/light/customer-server.png);
  }
  :global(body.dark-theme) {
    .customer-server {
      background-image: url(~./imgs/dark/customer-server.png);
    }
  }
  
  .download {
    background-image: url(~./imgs/light/download.png);
  }
  :global(body.dark-theme) {
    .download {
      background-image: url(~./imgs/dark/download.png);
    }
  }
  
  .futures-api {
    background-image: url(~./imgs/light/futures-api.png);
  }
  :global(body.dark-theme) {
    .futures-api {
      background-image: url(~./imgs/dark/futures-api.png);
    }
  }
  
  .futures-guide {
    background-image: url(~./imgs/light/futures-guide.png);
  }
  :global(body.dark-theme) {
    .futures-guide {
      background-image: url(~./imgs/dark/futures-guide.png);
    }
  }
  
  .futures-help {
    background-image: url(~./imgs/light/futures-help.png);
  }
  :global(body.dark-theme) {
    .futures-help {
      background-image: url(~./imgs/dark/futures-help.png);
    }
  }
  
  .futures-info {
    background-image: url(~./imgs/light/futures-info.png);
  }
  :global(body.dark-theme) {
    .futures-info {
      background-image: url(~./imgs/dark/futures-info.png);
    }
  }
  
  .futures101 {
    background-image: url(~./imgs/light/futures101.png);
  }
  :global(body.dark-theme) {
    .futures101 {
      background-image: url(~./imgs/dark/futures101.png);
    }
  }
  
  .insurance-fund {
    background-image: url(~./imgs/light/insurance-fund.png);
  }
  :global(body.dark-theme) {
    .insurance-fund {
      background-image: url(~./imgs/dark/insurance-fund.png);
    }
  }
  
  .launchbase {
    background-image: url(~./imgs/light/launchbase.png);
  }
  :global(body.dark-theme) {
    .launchbase {
      background-image: url(~./imgs/dark/launchbase.png);
    }
  }
  
  .leaderboard {
    background-image: url(~./imgs/light/leaderboard.png);
  }
  :global(body.dark-theme) {
    .leaderboard {
      background-image: url(~./imgs/dark/leaderboard.png);
    }
  }
  
  .margin {
    background-image: url(~./imgs/light/margin.png);
  }
  :global(body.dark-theme) {
    .margin {
      background-image: url(~./imgs/dark/margin.png);
    }
  }
  
  .more {
    background-image: url(~./imgs/light/more.png);
  }
  :global(body.dark-theme) {
    .more {
      background-image: url(~./imgs/dark/more.png);
    }
  }
  
  .notification {
    background-image: url(~./imgs/light/notification.png);
  }
  :global(body.dark-theme) {
    .notification {
      background-image: url(~./imgs/dark/notification.png);
    }
  }
  
  .profile {
    background-image: url(~./imgs/light/profile.png);
  }
  :global(body.dark-theme) {
    .profile {
      background-image: url(~./imgs/dark/profile.png);
    }
  }
  
  .referral {
    background-image: url(~./imgs/light/referral.png);
  }
  :global(body.dark-theme) {
    .referral {
      background-image: url(~./imgs/dark/referral.png);
    }
  }
  
  .reward-center {
    background-image: url(~./imgs/light/reward-center.png);
  }
  :global(body.dark-theme) {
    .reward-center {
      background-image: url(~./imgs/dark/reward-center.png);
    }
  }
  
  .spot {
    background-image: url(~./imgs/light/spot.png);
  }
  :global(body.dark-theme) {
    .spot {
      background-image: url(~./imgs/dark/spot.png);
    }
  }
  
  .sunswap {
    background-image: url(~./imgs/light/sunswap.png);
  }
  :global(body.dark-theme) {
    .sunswap {
      background-image: url(~./imgs/dark/sunswap.png);
    }
  }
  
  .theme {
    background-image: url(~./imgs/light/theme.png);
  }
  :global(body.dark-theme) {
    .theme {
      background-image: url(~./imgs/dark/theme.png);
    }
  }
  