.notLoginCont {
  display: flex;
  align-items: center;
  height: 50px;
  margin-right: 10px;

  .btn {
    padding: 6px;
    min-width: 66px;
    height: 32px;
    line-height: 18px;
    font-size: 14px;
    border: 1px solid $GRY600;
    border-radius: 4px;
    color: $GRN900;
    font-weight: 600;
    text-align: center;
    &.signup {
      margin-right: 12px;
      color: $WHITE;
      background-color: $GRN900;
      border-color: $GRN900;
      &:hover {
        background-color: $GRN950;
      }
    }
  }
  &.block {
    display: block;
    margin-right: 0;
    margin-bottom: 8px;
    padding: 0 12px;
    height: auto;
    .btn {
      display: block;
      margin-bottom: 8px;
      line-height: 34px;
      height: 48px;
      font-size: 16px;
      &.signup {
        margin-right: 0 !important;
      }
    }
  }
}

:global(body.dark-theme) {
  .notLoginCont {
    .btn {
      color: $GRN800;
      &.signup {
        margin-right: 12px;
        color: $WHITE;
        background-color: $GRN950;
        border-color: $GRN950;
        &:hover {
          background-color: $GRN800;
        }
      }
    }
  }
}
